{% extends 'base.html' %} {% block content %}
<div class="columns is-desktop is-flex is-vcentered is-centered mx-4 my-4">
  <div class="column has-text-centered">
    <p class="title">Maciej Winnik</p>
    <p class="subtitle">Software Enginner</p>
  </div>
  <div class="column is-half">
    <img
      src="./static/images/me.jpg"
      alt="Me"
      width="400"
      height="400"
      class="me box"
    />
  </div>
</div>
<p>This is template</p>
{% if 2 == 3 %}
<h1>Hello {{ name }}!</h1>
{% endif %}
<div x-data="{ count: 0 }">
  <button x-on:click="count++">Increment</button>

  <span x-text="count"></span>
</div>
{% endblock %}
